html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --A-background: #ffffff !important;
  --AContainer-padding: 64px 128px !important;
  --ANav-background: #f5f5f5 !important;
  --ANav-color: #101010 !important;
}

.asdf {
  background: #101010;
}
